<GridLayout>
    <StackLayout class="form">
        <GridLayout rows="auto">
            <Label row="0" text="VHPS" class="brand-name"></Label>
        </GridLayout>
        <GridLayout rows="auto, auto">
            <Label row="0" text="User name:" class="text-label"></Label>
            <TextField row="1" text="user" returnKeyType="next" maxLength="20" autocorrect="false" class="text-field" (returnPressEvent)="focusPassword()"></TextField>
        </GridLayout>
        <GridLayout rows="auto, auto">
            <Label row="0" text="Password:" class="text-label"></Label>
            <TextField #password row="1" text="password" returnKeyType="send" maxLength="20" secure="true" class="text-field"></TextField>
        </GridLayout>
        <Button text="Login" class="btn btn-primary"></Button>
        <Label text="Don't haven an account or forget it?" class="btn btn-secondary"></Label>
    </StackLayout>
</GridLayout>