<ActionBar class="action-bar">
    <GridLayout rows="auto, auto">
      <GridLayout row="0" columns="auto, *, auto, auto">
        <Label col="0" text="&#xf0c9;" class="fa cta-icon m-l-0" (tap)="openDrawer()"></Label>
        <Label col="1" text="VHPS"></Label>
        <Label col="2" text="&#xf095;" class="fa cta-icon call-icon" (tap)="callNow()"></Label>
        <Label col="3" text="&#xf217;" class="fa cta-icon" (tap)="goToCart()"></Label>
      </GridLayout>
      <GridLayout row="1" columns="auto, *, auto" class="search-container">
        <Label col="0" text="&#xf002;" class="fa search-icon"></Label>
        <TextField col="1" hint="" text=""></TextField>
        <Label col="2" text="&#xf061;" class="fa search-control"></Label>
      </GridLayout>
    </GridLayout>
</ActionBar>