<StackLayout>
    <Label text="Categories" textWrap="true" class="h2 header-section-label"></Label>
    
    <FlexboxLayout>
        <FlexboxLayout flexDirection="column" alignItems="center" class="container">
            <Label text="&#xf0f8;" class="fa icon"></Label>
            <Label text="Devices" class="text"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" alignItems="center" class="container">
            <Label text="&#xf0f8;" class="fa icon"></Label>
            <Label text="Equipments" class="text"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" alignItems="center" class="container">
            <Label text="&#xf0f8;" class="fa icon"></Label>
            <Label text="Consumables" class="text"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" alignItems="center" class="container">
            <Label text="&#xf0f8;" class="fa icon"></Label>
            <Label text="Disposables" class="text"></Label>
        </FlexboxLayout>
        <FlexboxLayout flexDirection="column" alignItems="center" class="container">
            <Label text="&#xf0f8;" class="fa icon"></Label>
            <Label text="Medical Aids" class="text"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
</StackLayout>