<StackLayout>
    <Label text="Offers" textWrap="true" class="h2 header-section-label"></Label>
    <ScrollView>
        <StackLayout>
            <GridLayout rows="auto, *, *" class="offer-container" *ngFor="let offer of offersList">
                <Image row="0" class="offer-image" [src]="offer.imageURL"></Image>
                <Label row="1" [text]="offer.shortDescription" textWrap="true" class="h5"></Label>
                <Label row="2" [text]="offer.longDescription" textWrap="true"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>