<StackLayout>
    <Label text="Offers" textWrap="true" class="h2 header-section-label"></Label>
    <ScrollView>
        <GridLayout height="200">
            <Carousel #offersCarousel height="100%" width="100%" [items]="offersList" ios:autoPagingInterval="3"
                android:indicatorAnimation="swap" indicatorColor="#3b5998" indicatorColorUnselected="#dfe3ee">
                <CarouselItem *ngFor="let offer of offersList" verticalAlignment="center">
                    <GridLayout>
                        <Image [src]="offer.imageURL"></Image>
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>
    </ScrollView>
</StackLayout>