@import '../../../../app-common';

.products-label {
    margin: 10;
    color: $primary;
}

.container {
    border-width: 2;
    border-color: lighten($primary, 10%);
    border-radius: 5;
    margin: 10;
    padding: 10;
    width: 45%;

    .thumbnail {
        height: 100;
    }

    .name {
        font-weight: bold;
    }

    .old-price {
        color: gray;
        text-decoration: line-through;
    }

    .separator {
        padding: 0 3;
    }

    .current-price {
        line-height: 100;
    }

    .discount {
        background-color: lighten($primary, 30%);
        border-color: $secondary;
        border-radius: 30;
        color: $accent;
        width: 50;
        font-weight: bold;
        justify-content: center;
    }
}