<GridLayout>
    <StackLayout class="form">
        <GridLayout rows="auto, auto">
            <Label row="0" text="Enter your email address:" class="text-label"></Label>
            <TextField row="1" text="someemail@vhps.com" returnKeyType="send" maxLength="20" autocorrect="false" class="text-field"></TextField>
        </GridLayout>
        <Button text="Send recovery information" class="btn btn-primary" (tap)="onRecovery()"></Button>
        <Button text="Cancel" class="btn btn-secondary" (tap)="onCancel()"></Button>
    </StackLayout>
</GridLayout>